body{

    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    padding-top: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    background-color: white;
    color: black;
    border-radius: 11px;
    transition: 0.4s;
    height: 700px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.212);
    width: 600px;
}

.content:hover {
    background-color: #02051b;
    color: whitesmoke;
}

.time-box {
    display: flex;
    justify-content: center;
}



.time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02051b;
    color: white;
    height: 300px;
    font-size: 50px;
    border-radius: 100rem;
    width: 310px;
    transition: 0.6s;

}


.time:hover {
    background-color: whitesmoke;
    color: #02051b;
    transform: translateY(10px);
}


.darkmode {
    background-color: #111827;
    color: white;
}


.lightmode {
    background-color: whitesmoke;
    color: #111827;
}

.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
}


.title {
    
    margin-bottom: 1rem;
}







@media screen and (max-width:500px) {
    .content {
        background-color: white;
        color: black;
        border-radius: 11px;
        transition: 0.4s;
        height: 600px;
        box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.212);
        width: 350px;
    }
    
    .time-box {
        display: flex;
        justify-content: center;
    }
    
    .time {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #02051b;
        color: white;
        height: 300px;
        font-size: 50px;
        border-radius: 100rem;
        width: 310px;
        padding: 0.5rem;
    }
}

