body{
    text-align: center;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    padding-top: 100px;
}

h1 {
    font-weight: bold;
    font-size: 70px;
}

h2 {
    font-weight: bold;
    font-size: 80px;
}

.time {
    min-width: 80px;
    height: 100px;
    outline-style: groove;
    border-radius: 45px;
}

.time:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: rgb(255, 255, 255);
}